@media only screen and (max-width: 320px) {
  h1 {
    font-size: 30px; }
  nav .brand-logo {
    height: 90%;
    margin-top: 3%; }
  #item-1 .col.s12 {
    width: 96%; } }

@media only screen and (min-width: 321px) and (max-width: 599px) {
  #item-1 .col.s12 {
    width: 100%;
    margin-bottom: 40px; } }
